/*

 *= require_tree .
 *= require_self
 */

.errors {
   /* background: #efefef;
    border: 1px solid maroon;*/
}

.error-list {
    color: red;
    text-decoration: none;
}

.error-explanation {
    display: inline-block;
    color: red;


}

.field_with_errors {
    display: inline-block;
    border: 1px solid maroon;
}

.flashmessag